*{
  margin: 0;
  padding: 0;
  font-family: "Voces", sans-serif;
}

.btn-primary{
  border: none;
  color: white;
  padding: 10px 15px;
  background-color: #E55473;
  border-radius: 5px;
}

.header-container{
  background-color: #FCEAEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  padding-bottom: 0;
  height: 100vh;
}

.header-text{
  width: 550px;
  margin-right: 0px;
}

.header-title{
  font-size: 58px;
  color: #272727;
  margin-bottom: 10px;
}

.header-description{
  font-size: 12px;
  width: 400px;
  color: #272727;
  line-height: 18px;
  margin-bottom: 10px;
}

.header-img > img{
  height: 570px;
}